{% extends 'base.html' %} {% block container %}
<h2>Post a Recipe Review</h2>
<p>Create a new record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Username:
    <input type="text" id="username" name="username" /><br />
  </p>
  <p>Coffee Recipe:
    <input type="text" id="recipe_name" name="recipe_name" /><br />
  </p>
  <p>
    Review:
    <textarea type="text" id="review" name="review" placeholder="Share your review here..."></textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}