{% extends 'base.html' %}

{% block container %}
<h2>All Coffee Recipes</h2>

<a href="{{ url_for('post_recipe') }}">Post a Recipe here!</a>

<p>Check out all coffee recipes here! Try them out or post your own!</p>

{% if message %}
<p>
<h3>{{ message }}</h3>
</p>
{% endif %}

{% for doc in docs %}
<div>
    <hr class="solid">
    <p class="post">
    <h5>{{ doc.recipe }}</h5>
    by {{doc.username}}
    </p>
    <p> Ingredients:
        {{ doc.ingredients }}
    </p>
    <p> Instructions:
        {{ doc.instructions }}
    </p>
</div>
{% endfor %}
<a href="{{ url_for('home') }}">Return to Home</a>
{% endblock %}